.qv-object-lms-OptionList .qv-object-content {
	overflow: auto;
	border-top: 0px solid #ddd;
	border-bottom: 0px solid #ddd;
	position: absolute;
  	top: 30%;

}

.qv-object-lms-OptionList ul {
	list-style-type: circle;
}

.qv-object-lms-OptionList li.data {
	display: inline-block;
	margin: 2px;
	padding: 3px;
	border-top: 0px solid #ddd;
	border-left: 0px solid #ddd;
	border-bottom: 0px solid #111;
	border-right: 0px solid #111;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* frequency */
.qv-object-lms-OptionList li.data span {
/*
	padding-left: 5px;
	font-style: italic;
	float:right;
*/
}


/* colors when NOT in selection mode*/
.qv-object-lms-OptionList li.stateS, .qv-object-lms-OptionList li.stateL {
/*	background-color: #52cc52;
	color: #fff;
*/
	color: #52cc52
}

.qv-object-lms-OptionList li.stateX, .qv-object-lms-OptionList li.stateXL, .qv-object-lms-OptionList li.stateXS {
/*	background-color: #A9A9A9;
	color: #fff;
*/
}

/* colors when in selection mode*/
.qv-object-lms-OptionList li.stateA, .qv-object-lms-OptionList.qv-selections-active li {
/*	background-color: #ddd;
	color: #000;
*/
}
.qv-object-lms-OptionList.qv-object-lms-OptionList li.selected {
/*	background-color: #52cc52;
	color: #fff;
*/
color: #52cc52;
}
